@import '../../styles/utils/mixins';

.headerLogo {
  width: 60px;
  height: 50px;

  @include xs {
    width: 45px;
    height: 40px;
  }
}

.spinner {
  width: 100px;
}


.community {
  display: block;
  width: 100%;
}
