.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  position: relative;
  margin-bottom: 15px;

  font-weight: 600;

  outline: none;
  transition: all var(--transition-behavior);
}

.link:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 0;
  height: 2px;
  transition: all var(--transition-behavior);
}

.link:last-child {
  margin-bottom: 0;
}

.link:focus,
.link:hover {
  color: var(--color-secondary);
}

.linkName {
  display: inline-block;
}

.activeLink.link:after {
  width: 100%;
  background: var(--color-secondary);
}

.activeLink {
  color: var(--color-secondary);
}

@media (max-width: 767px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .link {
    margin-bottom: 0;
    padding: 10px 15px;

    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-secondary);

    border: 1px solid var(--color-secondary);
    border-radius: 12px;
  }

  .link:after {
    display: none;
  }
  
  .link:hover,
  .activeLink {
    color: var(--color-normal);
    background: var(--color-secondary);
  }
}

@media (max-width: 575px) {
  .wrapper {
    justify-content: space-evenly;
    gap: 0;
  }

  .link {
    display: flex;
    padding: 0;
    width: 45px;
    height: 45px;
    font-size: 0;
    color: var(--color-secondary);
    border: none;
    transition: none;
  }
  
  .activeLink {
    position: relative;
    border-radius: 0;
  }

  .activeLink::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: var(--color-secondary);
  }

  .link:hover {
    color: transparent;
    background: transparent;
  }
}

@media (max-width: 374px) {

  .link {
    width: 40px;
    height: 40px;
  }
}
