.message {
  display: flex;
  margin-bottom: 15px;
  padding: 10px;
  width: 50%;

  background: var(--color-very-light);
  border: 1px dashed var(--color-normal);
  border-radius: 10px;
  word-break: break-word;
}

.message__memberAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.message__text {
  padding-left: 10px;
}

.message_currentUser {
  flex-direction: row-reverse;
  justify-content: space-between;
  align-self: end;
  background-color: var(--color-extra-light);
}


.message__text_currentUser {
  padding-left: 0;
  padding-right: 10px;
}

@media (max-width: 1023px) {
  .message {
    width: 70%;
  }
}

@media (max-width: 575px) {
  .message {
    width: 90%;
  }
}
