.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  border: 20px solid var(--color-blue-normal);
}

.home__title {
  margin-bottom: 20px;

  font-family: 'Fredoka One', cursive;
  font-size: 42px;
  line-height: 1;
  text-align: center;
}


.home__titlePart {
  display: block;
}

.home__socialNetworksName {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;

  font-size: 83px;
  color: var(--color-blue-dark);
}

.home__socialNetworksName:after {
  content: "Keep in touch";
  position: absolute;
  left: 0;
  width: 100%;

  font-family: 'Fredoka One', cursive;
  font-size: 80px;
  font-weight: 400;
  color: var(--color-blue-normal);
}

.home__description {
  margin-bottom: 30px;
  width: 450px;

  text-align: center;
}

.home__choice,
.home__usersLoading {
  margin-bottom: 30px;

  font-family: 'Fredoka One', cursive;
  font-size: 22px;
  color: var(--color-blue-dark);
}

.home__usersLoading {
  margin-top: 100px;
}

.home__users {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  max-width: 450px;
}

.home__user {
  width: 120px;
  height: 120px;

  border: 5px solid var(--color-blue-normal);
  border-radius: 20px;

  cursor: pointer;
}

@media (max-width: 767px) {
  .home {
    border-width: 15px;
  }

  .home__title {
    font-size: 32px;
  }

  .home__socialNetworksName {
    font-size: 50px;
  }
  
  .home__socialNetworksName:after {
    font-size: 48px;
  }

  .home__description {
    width: 320px;
  }

  .home__users {
    max-width: 370px;
    gap: 10px;
  }

  .home__user {
    width: 100px;
    height: 100px;
  }
}


@media (max-width: 575px) {

  .home {
    border-width: 5px;
  }

  .home__title {
    font-size: 32px;
  }

  .home__socialNetworksName {
    font-size: 44px;
  }
  
  .home__socialNetworksName:after {
    font-size: 42px;
  }

  .home__choice {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .home__description {
    margin-bottom: 15px;
    width: 300px;
  }

  .home__users {
    max-width: 300px;
  }

  .home__user {
    width: 80px;
    height: 80px;
  }
}
