.companion {  
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 15px;

  background-color: var(--color-button);
  border: 1px solid var(--color-grey);
  border-radius: 10px;
  cursor: pointer;

  transition: background-color var(--duration-element-animation) linear;
}

.companion:hover {
  background-color: var(--color-button-behavior);
}

.companion a {
  display: flex;
  align-items: center;
}

.activeLink {
  background-color: var(--color-button-behavior);
}

@media (max-width: 575px) {
  .companion {  
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;

    font-size: 0;
    text-transform: uppercase;
    border-radius:50%;

  }
}
