.contacts {
  padding-right: 15px;
  border-right: 3px solid var(--color-normal);

  overflow-y: scroll;
}

.contacts__contact {  
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 15px;

  font-weight: 600;

  background-color: var(--color-normal);
  border-radius: 10px;
  cursor: pointer;

  transition: all var(--transition-behavior);
}

.contacts__contact a {
  display: flex;
  align-items: center;
}

.activeLink {
  color: var(--color-secondary);
  background-color: var(--color-dark);

}

@media (max-width: 575px) {
  .contacts {
    padding: 25px 40px 0;
    height: 100%;
    border-right: none;
    background: var(--color-bg-main-light);
  }

  .contacts__contact {
    display: block;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px;

    text-transform: uppercase;
    text-align: center;
  }

  .activeLink {
    color: var(--color-main);
    background-color: var(--color-normal);
  }

  .contacts:has(.activeLink) {
    height: 0;
    overflow: hidden;
  }
}
