.header {
  background-color: var(--color-normal);
}

.header__container {
  display: flex;
  align-items: center;
  grid-area: header;

  margin: 0 auto;
  padding: 5px 20px;
  max-width: 2000px;
  width: 100%;
}

.header__title {
  width: 100%;

  font-size: 44px;
  letter-spacing: 1px;
  text-align: center;
  color: var(--color-secondary);
  text-shadow: 0 0 4px var(--color-main);
}

@media (max-width: 767px) {
  .header__container {
    padding: 5px 15px;
  }
  
  .header__title {
    font-size: 32px;
    letter-spacing: 1px;
  }
}

@media (max-width: 575px) {
  .header {
    background-color: var(--color-dark);
  }

  .header__container {
    padding: 5px 10px;
  }

  .header__logo {
    width: 45px;
    height: 40px;
  }
}

@media (max-width: 300px) {

  .header__logo {
    width: 40px;
    height: 35px;
  }

  .header__title {
    font-size: 26px;
    letter-spacing: 0.7px;
  }
}
