.inner {
  display: flex;
  flex-direction: column-reverse;
}

.title {
  margin-bottom: 20px;
}

.item {
  display: flex;
  margin-bottom: 15px;
}

.post {
  padding: 15px;
  max-width: 800px;

  background: var(--color-extra-light);
  border: 1px dashed var(--color-normal);
  border-radius: 10px;

  word-break: break-word;
}

.post__userAvatar {
  margin: 0 auto 10px;
  width: 60px;
  height: 60px;

  border: 3px solid var(--color-normal);
  border-radius: 50%;
}

.post__userAvatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.post__likeBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 4px 10px 4px 4px;
  width: 100%;

  background: var(--color-extra-normal);
  border: none;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}

.post__likeIcon {
  transition: transform var(--transition-behavior);
}

.post__likeBtn:hover .post__likeIcon {
  transform: scale(1.35);
}

.post__likesCounter {
  font-size: var(--font-size-mini);
}

.post__text {
  margin-left: 15px;
}

@media (max-width: 1023px) {

  .title,
  .post__title {
    text-align: center;
  }
}