.userNewPublication__title {
  margin: 20px 0;
}

.userNewPublication__textarea {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 50%;
  min-height: 80px;

  font-size: var(--font-size-mobile);
  
  border: 1px solid var(--color-normal);
  border-radius: 8px;
  outline: none;
  resize: vertical;
}

.userNewPublication__textarea::placeholder {
  font-family: sans-serif;
  color: var(--color-normal);
}

.userNewPublication__textarea:focus.userNewPublication__textarea::placeholder {
  color: var(--color-dark);
}

.userNewPublication__button {
  margin-bottom: 20px;
  padding: 15px 40px;

  font-weight: 600;

  background-color: var(--color-normal);
  border: none;
  outline: none;
  border-radius: 8px;

  cursor: pointer;
  transition: all var(--transition-behavior);
}

.userNewPublication__button:hover {
  color: var(--color-secondary);
  background-color: var(--color-dark);
}

@media (max-width: 1023px) {
  .userNewPublication {
    text-align: center;
  }

  .userNewPublication__textarea {
    display: block;
    margin-bottom: 10px;
    margin: 0 auto 10px;
    padding: 10px;
    width: 75%;
  }
}

@media (max-width: 575px) {

  .userNewPublication__textarea {
    width: 100%;
  }
}