@import '../../../styles/utils/vars';
@import '../../../styles/utils/mixins';

.rightSidebar {
  grid-area: rightSidebar;
  margin-right: 16px;
  padding: 35px 0;

  text-align: center;

  background: $color-normal;
  border-radius: 12px;
  
  @include xl {
    padding: 12px 16px;
  }
  
  @include md {
    display: none;
  }
}
