.Messages {
  height: 100%;
}

.title {
  margin: 0 0 20px 0;

  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.container {
  display: grid;
  grid-template-columns: minmax(200px, 280px) 1fr;
  grid-template-rows: 100%;
  grid-template-areas:
    'dialogs messages'
  ;

  height: 90%;
}

.messagesWrapper {
  grid-area: messages;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0 20px;
}

.myMessage {
  display: flex;
  position: relative;
}

.myMessageInput {
  flex-grow: 1;
  padding: 5px 110px 5px 15px;

  font-family: var(--font-page);
  font-size: 16px;
  
  border: 1px solid var(--color-grey);
  border-radius: 10px;
  resize: none;
  outline: none;
}

.myMessageBtn {
  position: absolute;
  top: 0;
  right: 0;

  padding: 0 30px;
  height: 100%;

  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-blue-dark);

  background-color: var(--color-button);
  border: 1px solid var(--color-grey);
  border-radius: 8px;

  transition: all var(--duration-element-animation) linear;
  cursor: pointer;
}

.myMessageBtn:hover {
  background-color: var(--color-button-behavior);
  color: var(--color-main-light)
}
