.messages {
  display: grid;
  grid-template-rows: auto 1fr;

  height: 100%;
}

.title {
  margin: 10px 0 40px 0;

  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    'dialogs messages'
  ;

  margin: 0 auto;
  padding-bottom: 20px;
  max-width: 1440px;
  width: 100%;
}

@media (min-width: 1440px) {
  .container {
    grid-template-columns: 300px 1fr;
  }
}

.messagesWrapper {
  grid-area: messages;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;

  padding: 0 20px;
}

.myMessage {
  display: flex;

  position: sticky;
  bottom: 5px;
  z-index: 5;
}

.myMessage::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -10px;
  z-index: -1;

  background-color: var(--color-main-light);
  border-radius: 10px 10px 0 0;
}

.myMessageInput {
  flex-grow: 1;
  padding: 5px 110px 5px 15px;

  font-family: var(--font-main);
  font-size: var(--font-size-main);
  
  border: 1px solid var(--color-grey);
  border-radius: 10px;
  outline: none;
}

.myMessageInput:focus {
  background-color: var(--color-user-message-bg);
}

.myMessageBtn {
  position: absolute;
  top: 0;
  right: 0;

  padding: 0 30px;
  height: 100%;

  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-blue-dark);

  background-color: var(--color-button);
  border: 1px solid var(--color-grey);
  border-radius: 8px;

  transition: all var(--duration-element-animation) linear;
  cursor: pointer;
}

.myMessageBtn:hover {
  background-color: var(--color-button-behavior);
  color: var(--color-main-light)
}
