@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.music {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    color: $color-dark;
  }

  &__subtitle {
    color: red;
  }

  &__todo {
    margin-top: 20px;
    padding: 12px;

    background: $color-very-light;
    border-radius: $border-radius-block;
  }

  &__todoTitle {
    text-align: center;
  }

  &__todoList {
    margin-top: 5px;
    padding-left: 16px;
  }

  &__imgContainer {
    width: 200px;
    height: 300px;

    @include xs {
      width: 200px;
      height: 300px;
    }
  }
}
