.sidebar {
  padding: 35px 25px;

  background: var(--color-normal);
  border-radius: 10px;
}

@media (max-width: 1023px) {
  .sidebar {
    padding: 25px 10px;
  }
}

@media (max-width: 767px) {
  .sidebar {
    order: 2;
    margin: 0 -15px;
    padding: 15px;

    border-radius: 0;
  }
}

@media (max-width: 575px) {
  .sidebar {
    padding: 10px 0;
    background-color: var(--color-dark);
  }
}
