.user {
  display: grid;
  grid-template-rows: auto 1fr repeat(4, auto);
  justify-items: center;
  gap: 8px;

  padding: 15px;
  width: 200px;

  background-color: var(--color-very-light);
  border: 1px solid var(--color-normal);
  border-radius: 10px;
  cursor: pointer;

  transition: box-shadow var(--transition-behavior);
}

.user:hover {
  box-shadow: var(--box-shadow);
}

.user__avatar {
  border-radius: 6px;
  max-width: 150px;
  max-height: 150px;
}

.user__nickname {
  text-align: center;
}

.user__status {
  display: flex;
  align-items: center;
}

.user__indicator {
  display: inline-block;
  margin-right: 4px;
  width: 16px;
  height: 16px;

  border: 2px solid var(--color-normal);
  border-radius: 50%;
}

.user__indicator_offline {
  background: #ff1212;
}

.user__indicator_online {
  background: #50ff50;
}

.user__btn {
  padding: 8px 0;
  width: 100%;

  background: var(--color-normal);
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  cursor: pointer;

  transition: all var(--transition-behavior);
}

.user__btn:focus {
  border: 2px solid var(--color-normal);
}

.user__btn:hover {
  background: var(--color-dark);
  color: var(--color-secondary)
}

@media (max-width: 1399px) {
  .user {
    gap: 5px;
    padding: 10px;
    width:165px;
  }

  .user__avatar {
    max-width: 100px;
    max-height: 100px;
  }

  .user__nickname {
    font-size: var(--font-size-desktop);
  }
}

@media (max-width: 374px) {
  .user {
    max-width:145px;
  }
  
  .user__avatar {
    width: 80px;
    height: 80px;
  }
}
