.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav__link {
  margin-bottom: 15px;
  font-weight: 600;

  transition: all var(--duration-element-animation) linear;
}

.sidenav__link:last-child {
  margin-bottom: 0;
}

.sidenav__link:hover {
  color: var(--color-red);
}

.activeLink {
  color: var(--color-red);
}

@media (max-width: 767px) {
  .sidenav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .sidenav__link {
    margin-bottom: 0;
    margin: 0 5px;
    padding: 10px 15px;

    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-main-light);

    border: 1px solid var(--color-main-light);
    border-radius: 12px;
  }
}

@media (max-width: 575px) {
  .sidenav__link {
    margin: 0 10px;
    padding: 0;
    width: 40px;
    height: 40px;

    font-size: 0;
    font-weight: 0;

    background-color: var(--color-main-light);
  }

  .activeLink {
    background-color: var(--color-blue-normal);
  }
};
