@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  --color-main: #000000;
  --color-main-light: #ffffff;
  --color-grey: #858585;
  --color-grey-light: #eeeeee;
  --color-red: #ff0000;
  --color-blue-grey: #d6f8f6;
  --color-blue-light: #b4fffb;
  --color-blue-normal: #54d0e6;
  --color-blue-dark: #074f5c;

  --duration-element-animation: 0.15s;
  
  --color-text: var(--color-main);
  --color-text-ligth: var(--color-main-light);

  --color-message-bg: var(--color-blue-grey);
  --color-user-message-bg: var(--color-grey-light);

  --color-button: var(--color-blue-light);
  --color-button-behavior: var(--color-blue-normal);
  --color-button-border: var(--color-grey);

  --color-header-bg: var(--color-blue-normal);
  --color-navbar-bg: var(--color-blue-light);
  --color-main-bg: var(--color-main-light);
  --color-footer-bg: var(--color-blue-dark);

  --color-publication-bg: var(--color-grey);

  --font-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --font-size-main: 16px;
}

html {
  font-family: var(--font-main);
  font-size: var(--font-size-main);
  line-height: 1.2;
  color: var(--color-main-text);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-main)
}

.app {
  display: grid;
  grid-template-columns: 0 200px 1fr 0;
  grid-template-rows: 80px 1fr 50px;
  gap: 10px;
  grid-template-areas: 
    "header header header header"
    ". sidebar main ."
    "footer footer footer footer";

  height: 100vh;
}

@media (min-width: 1440px) {
  .app {
    grid-template-columns: 0 250px 1fr 0;
  }
}
