@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  --color-main: #000000;
  --color-main-light: #ffffff;
  --color-grey: #777;
  --color-yellow-grey: #ffe7d3;
  --color-red: #af0000;
  --color-pink: #ffd5d5;
  --color-blue: #005b85;
  --color-blue-normal: #54d0e6;
  --color-blue-light: #b4fffb;
  --color-blue-dark: #074f5c;

  --transition-behavior: 0.1s linear;

  --color-button: var(--color-blue-light);
  --color-button-border: var(--color-grey);

  --font-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  
  --font-size-pc: 16px;
  --font-size-laptop: 16px;
  --font-size-tablet: 18px;
  --font-size-mobile: 18px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-main);
  font-size: var(--font-size-pc);
  line-height: 1.2;
  color: var(--color-main-text);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-main)
}

ul {
 margin: 0;
 padding: 0;
 list-style: none;
}

.app {
  height: 100vh;
  overflow-y: hidden;
}

@media (max-width: 767px) {
  html {
    font-size: var(--font-size-laptop);
  }
}

@media (max-width: 575px) {
  html {
    font-size: var(--font-size-mobile);
  }
}
