.wrapper {
  grid-area: leftSidebar;
  margin-left: 15px;
  padding: 35px 0;

  background: var(--color-normal);
  border-radius: 10px;
}

@media (max-width: 1023px) {
  .wrapper {
    order: 2;
    margin: 0 -15px;
    padding: 20px 0;

    border-radius: 0;
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding: 15px;
  }
}

@media (max-width: 575px) {
  .wrapper {
    padding: 5px 0;
    background-color: var(--color-dark);
  }
}
