.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  margin-right: -5px;
  padding-left: 15px;

  background-color: var(--color-bg-main-light);
  border-radius: 8px;

  overflow-y: scroll;
}

@media (max-width: 767px) {
  .main {
    order: 1;
    padding-left: 0;
  }
}
