.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 50px;
  grid-template-areas: 
    "header"
    "main"
    "footer";

  height: 100vh;
}

.content__container {
  display: grid;
  grid-template-columns: auto 1fr;

  padding: 15px;

  overflow: hidden;
}
