.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-text-ligth);

  background-color: var(--color-footer-bg);
}

@media (max-width: 767px) {
  .footer {
    display: none;
  }
}
