.wrapper {
  padding-right: 15px;
  border-right: 3px solid var(--color-normal);

  overflow-y: scroll;
}

.contactContainer {
  width: 250px;
  margin-bottom: 10px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 10px;

  width: 100%;
  height: 60px;
  padding: 0 10px;

  background-color: var(--color-normal);
  border-radius: 10px;
  outline: none;
  cursor: pointer;

  transition: all var(--transition-behavior);
}

.contact:focus,
.contact:hover,
.activeLink {
  background-color: var(--color-light);
}

.contact a {
  display: flex;
  align-items: center;  
}

.contact img {
  width: 50px;

  border-radius: 50%;
}

.activeLink {
  color: var(--color-secondary);
  background-color: var(--color-dark);

}

.hint {
  display: none;
}

@media (max-width: 767px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 60px;
    gap: 15px;

    padding: 0 15px 0;
    border-right: none;
    background: var(--color-bg-main-light);
  }

  .contactContainer {
    width: 100%;
  }
  
  .contact {
    width: 100%;
    margin: 0;

    text-transform: uppercase;
    text-align: center;
  }

  .turnOffContacts {
    display: none;
  }

  .hint {
    display: block;
  }
}

@media (max-width: 575px) {
  .wrapper {
    display: block;
  }

  .contactContainer {
    width: 270px;
    margin: 0 auto 10px;
  }

  .turnOffContacts {
    display: none;
  }
}
