@import '../../../styles/utils/vars';
@import '../../../styles/utils/mixins';

.newPost {
  width: $width-profile-content-desctop;
  margin: 0 auto 50px;

  @include xl {
    width: $width-profile-content-laptop;
  }

  @include md {
    margin-bottom: 40px;
    text-align: center;
  }

  @include sm {
    gap: 15px;
    width: $width-profile-content-tablet;
  }

  @include xs {
    width: $width-profile-content-mobile;
  }
  
  &__title {
    margin-bottom: 20px;
    text-align: center;

    @include sm {
      margin-bottom: 15px;
    }
  }
}
