.wrapper {
  margin-bottom: 40px;
}

.title {
  margin-bottom: 20px;
}

.textarea {
  display: block;
  margin-bottom: 15px;
  padding: 10px;
  min-height: 80px;

  font-size: var(--font-size-large);
  
  border: 1px solid var(--color-normal);
  border-radius: 8px;
  outline: none;
  resize: vertical;
}

.textarea::placeholder {
  font-family: sans-serif;
  color: var(--color-normal);
}

.textarea:focus.textarea::placeholder {
  color: var(--color-dark);
}

.textarea,
.button {
  width: 50%;
}

.button {
  padding: 15px 0;

  font-weight: 600;

  background-color: var(--color-normal);
  border: none;
  outline: none;
  border-radius: 8px;

  cursor: pointer;
  transition: all var(--transition-behavior);
}

.button:focus,
.button:hover {
  color: var(--color-secondary);
  background-color: var(--color-dark);
}

@media (max-width: 1023px) {
  .wrapper {
    text-align: center;
  }

  .textarea {
    display: block;
    margin-bottom: 10px;
    margin: 0 auto 15px;
    padding: 10px;
  }

  .textarea,
  .button {
    width: 75%;
  }
}

@media (max-width: 575px) {

  .textarea,
  .button {
    width: 100%;
  }
}