.wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  overflow: hidden;
}

.dialogMessages {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 1px;

  overflow-y: scroll;
}

.sendMessage {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-template-rows: 40px;

  position: sticky;
  bottom: 0;
}

.sendMessage:after {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: var(--color-secondary);
}

.input {
  position: relative;
  padding: 5px 10px;
  width: 100%;

  font-size: var(--font-size-large);
  
  border: 1px solid var(--color-normal);
  border-radius: 10px 0 0 10px;
  outline: none;
}

.input::placeholder {
  color: var(--color-normal);
}

.input:focus.input::placeholder {
  color: var(--color-dark);
}

.btn {
  font-weight: bold;
  font-size: 16px;
  background: var(--color-normal);
  border: 1px solid var(--color-тщкьфд);
  border-radius: 0 10px 10px 0;
  outline: none;
  cursor: pointer;

  transition: all var(--transition-behavior);
}

.btn:focus,
.btn:hover {
  background-color: var(--color-dark);
  color: var(--color-secondary)
}

@media (max-width: 767px) {
  .sendMessage {
    grid-template-columns: 3fr 1fr;
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .sendMessage {
    grid-template-columns: 3fr 1fr;
    margin-bottom: 10px;
  }
}
