.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  font-size: var(--font-size-mobile);
  text-align: center;
  margin-bottom: 10px;
}

.pages {
  display: flex;
  justify-content: center;
  gap: 8px;

  margin-bottom: 10px;
}

.users {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  padding-top: 5px;

  overflow-y: scroll;
}

@media (max-width: 767px) {
  .users {
    padding-bottom: 15px;;
  }
}

@media (max-width: 575px) {
  .users {
    gap: 10px;
  }
}
