.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.pages {
  margin-bottom: 10px;
}

.users {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  padding: 5px 0;

  overflow-y: scroll;
}

@media (max-width: 1023px) {
  .users {
    padding-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .pages {
    margin: 10px 0 15px;
  }

  .users {
    gap: 10px;
    padding-bottom: 10px;
  }
}
