.logoutBtn {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;

  padding: 0 15px;
  height: 40px;

  font-size: var(--font-size-mini);
  letter-spacing: 0.5px;
  color: var(--color-main);

  background: var(--color-extra-normal);
  border-radius: 0 6px 0 10px;
  border: none;
  cursor: pointer;
}

@media (max-width: 575px) {

  .logoutBtn {
    padding: 0 10px;
    height: 35px;
  }
}
