.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  border: 20px solid var(--color-normal);
}

.login__title {
  margin-bottom: 20px;
  
  font-weight: bold;
  font-size: 42px;
  line-height: 1;
  text-align: center;
}


.login__titlePart {
  display: block;

}

.login__socialNetworksName {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;

  font-size: 80px;
  color: var(--color-dark);
}

.login__socialNetworksName:after {
  content: "Keep in touch";
  position: absolute;
  left: 0;
  width: 100%;

  font-size: 77px;
  font-weight: 400;
  color: var(--color-light);
}

.login__description {
  margin-bottom: 30px;
  width: 450px;

  text-align: center;
}

.login__choice,
.login__usersLoading {
  margin-bottom: 15px;

  font-size: 20px;
  color: var(--color-dark)
}

.login__usersLoading {
  margin-top: 100px;
}

.login__users {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;

  max-width: 720px;
}

.login__user {
  width: 100px;
  height: 100px;

  border: 5px solid var(--color-light);
  border-radius: 10px;

  transition: transform var(--transition-behavior);
  cursor: pointer;
}



.login__user:hover {
  transform: scale(1.25);
}

@media (max-width: 767px) {
  .login {
    border-width: 15px;
  }

  .login__title {
    font-size: 32px;
  }

  .login__socialNetworksName {
    font-size: 50px;
  }
  
  .login__socialNetworksName:after {
    font-size: 48px;
  }

  .login__description {
    width: 320px;
  }
}

@media (max-width: 575px) {

  .login {
    border-width: 5px;
  }

  .login__title {
    font-size: 32px;
  }

  .login__socialNetworksName {
    font-size: 44px;
  }
  
  .login__socialNetworksName:after {
    font-size: 42px;
  }

  .login__choice {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .login__description {
    margin-bottom: 15px;
    width: 300px;
  }
}
