.wrapper {
  margin-top: 60px;
}

.title {
  margin: 0 0 10px;

  font-size: var(--font-size-normal);
  text-align: center;
  color: var(--color-dark)
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
  
  border-radius: 10px;
}

.button {
  padding: 0;

  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;

  transition: transform var(--transition-behavior);
}

.button:focus,
.button:hover {
  transform: scale(1.2);
}

@media (max-width: 1023px) {

  .buttonsContainer {
    gap: 10px;
  }

  .avatar {
    width: 45px;
    height: 45px;
  }

  .wrapper {
    display: none;
  }
}
