.title {
  margin: 20px 0;
}

.textarea {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 50%;
  min-height: 80px;

  font-size: var(--font-size-main);
  
  border-radius: 8px;
  resize: vertical;
}

.button {
  margin-bottom: 20px;
  padding: 15px 40px;

  font-size: 16px;
  font-weight: 600;

  background-color: var(--color-button);

  border: 1px solid var(--color-button-border);
  border-radius: 8px;

  transition: all var(--duration-element-animation) linear;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-button-behavior);
}
