.publication {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;

  text-align: center;
  
  border: 1px solid var(--color-publication-bg);
  border-radius: 10px;
}

.publication__userInfo {
  width: 100px;
}

.publication__userAvatarContainer {
  margin: 0 auto;
  
  width: 60px;
  height: 60px;
}

.publication__userAvatar {
  height: 100%;
  border-radius: 50%;
}

.publication__userName {
  margin: 8px 0;

  font-size: 12px;
  font-weight: 400;
}

.publication__likes {
  font-size: 14px;
}

.publication__likeBtn {
  padding: 5px 10px;

  background: var(--color-button);
  border: 1px solid var(--color-button-border);
  border-radius: 10px;

  transition: all var(--duration-element-animation) linear;
  cursor: pointer;
}

.publication__likeBtn:hover {
  background-color: var(--color-button-behavior);
}

.publication__likesCounter {
  font-size: 12px;
}

.publication__userText {
  padding: 0 40px;
}
