.userPublication {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;

  text-align: center;
  
  border: 1px solid var(--color-publication-bg);
  border-radius: 10px;
}

.userInfo {
  width: 100px;
}

.avatarContainer {
  margin: 0 auto;
  
  width: 60px;
  height: 60px;
}

.avatar {
  border-radius: 50%;
}

.userName {
  margin: 8px 0;

  font-size: 12px;
  font-weight: 400;
}

.likes {
  font-size: 14px;
}

.likeBtn {
  padding: 5px 10px;

  background: var(--color-button);
  border: 1px solid var(--color-button-border);
  border-radius: 10px;

  transition: all var(--duration-element-animation) linear;
  cursor: pointer;
}

.likeBtn:hover {
  background-color: var(--color-button-behavior);
}

.likesCounter {
  font-size: 12px;
}

.userText {
  padding: 0 40px;
}
