.userPublication {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;

  text-align: center;
  
  border: 1px solid #858585;
  border-radius: 10px;
}

.avatarContainer {
  width: 80px;
  height: 80px;
}

.avatar {
  border-radius: 50%;
}

.userName {
  margin: 0 0 10px;

  font-size: 16px;
}

.likes {
  font-size: 14px;
}

.likeBtn {
  padding: 5px 10px;

  background: #b4fffb;
  border: 1px solid #858585;
  border-radius: 10px;

  transition: all 0.15s linear;
  cursor: pointer;
}

.likeBtn:hover {
  background-color: #54d0e6;
}

.likesCounter {
  margin-left: 5px;
  font-weight: 600;
}

.userText {
  padding: 0 40px;
}
