.header {
  display: flex;
  align-items: center;
  grid-area: header;

  padding: 0 25px;
  background-color: #54d0e6;
}

.logo {
  width: 60px;
}

.title {
  width: 100%;

  font-family: 'Fredoka One', cursive;
  font-size: 54px;
  letter-spacing: 1px;
  text-align: center;
}
