.headerLogo {
  width: 60px;
  height: 50px;
}

.logoutIcon {
  margin: 2px 0 0 6px;
  width: 14px;
}

.likeIcon {
  width: 20px;
}

.profileIcon,
.dialogsIcon,
.networkIcon,
.musicIcon,
.homeIcon {
  display: none;
}

@media (max-width: 575px) {
  .headerLogo {
    width: 45px;
    height: 40px;
  }

  .profileIcon,
  .dialogsIcon,
  .networkIcon,
  .musicIcon,
  .homeIcon {
    z-index: 1;
    display: block;
  }
}
