.headerLogo {
  width: 70px;
  height: 60px;
}

.logoutIcon {
  margin: 2px 0 0 6px;
  width: 14px;
}

.likeIcon {
  width: 20px;
}

.profileIcon,
.messagesIcon,
.newsIcon,
.musicIcon,
.settingsIcon {
  display: none;
}

@media (max-width: 575px) {
  .headerLogo {
    width: 45px;
    height: 40px;
  }

  .profileIcon,
  .messagesIcon,
  .newsIcon,
  .musicIcon,
  .settingsIcon {
    z-index: 1;
    display: block;
  }
}
