.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  border: 20px solid var(--color-normal);
}

.loginPage__title {
  margin-bottom: 20px;
  
  font-weight: bold;
  font-size: 42px;
  line-height: 1;
  text-align: center;
}


.loginPage__titlePart {
  display: block;

}

.loginPage__socialNetworkName {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;

  font-size: 80px;
  color: var(--color-dark);
}

.loginPage__socialNetworkName:after {
  content: "Keep in touch";
  position: absolute;
  left: 0;
  width: 100%;

  font-size: 77px;
  font-weight: 400;
  color: var(--color-light);
}

.loginPage__description {
  margin-bottom: 20px;
  max-width: 400px;

  text-align: center;
}

.loginPage__field {
  display: flex;
  margin-bottom: 20px;
}

.loginPage__input {
  padding: 5px 10px;
  width: 200px;
  
  font-size: var(--font-size-mobile);
  color: var(--color-main);
  
  border: 1px solid var(--color-normal);
  border-radius: 10px 0 0 10px;
  outline: none;
}

.loginPage__input::placeholder {
  color: var(--color-normal);
}

.loginPage__input:focus.messages__input::placeholder {
  color: var(--color-dark);
}

.loginPage__btn {
  margin-left: -1px;
  padding: 0 15px;
  font-size: 16px;
  background: var(--color-normal);
  border: 1px solid var(--color-тщкьфд);
  border-radius: 0 10px 10px 0;
  outline: none;
  cursor: pointer;

  transition: all var(--transition-behavior);
}

.loginPage__btn:focus,
.loginPage__btn:hover {
  background-color: var(--color-dark);
  color: var(--color-secondary)
}

.loginPage__hint {
  margin-bottom: 20px;
  padding: 0 10px;
  max-width: 400px;
  text-align: center;
  font-style: italic;
  font-weight: 600;
}

.loginPage__users {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 3px;

  margin-bottom: 15px;
  padding: 3px;

  background: var(--color-normal);
}

.loginPage__user {
  padding: 8px 10px;
  text-align: center;
  background: var(--color-secondary);
  border: none;
  outline: none;
  cursor: pointer;

  transition: all var(--transition-behavior);
}

.loginPage__user:hover {
  color: var(--color-secondary);
  background: var(--color-dark);
}

@media (max-width: 575px) {

  .login {
    border-width: 10px;
  }

  .loginPage__title {
    font-size: 32px;
  }

  .loginPage__socialNetworkName {
    font-size: 44px;
  }
  
  .loginPage__socialNetworkName:after {
    font-size: 42px;
  }

  .loginPage__description {
    margin-bottom: 15px;
    width: 300px;
  }

  .loginPage__users {
    grid-template-columns: repeat(3, auto);
  }
}

@media (orientation: landscape) and (max-width: 767px) {

  .login {
    justify-content: start;
    padding-top: 10px;
    border-width: 10px;

    overflow-y: scroll;
  }

  .loginPage__title {
    font-size: 28px;
    margin-bottom: 0;
  }

  .loginPage__socialNetworkName {
    font-size: 44px;
  }
  
  .loginPage__socialNetworkName:after {
    font-size: 42px;
  }

  .loginPage__users {
    grid-template-columns: repeat(6, auto);
  }
}
