.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  border: 20px solid var(--color-normal);
}

.start__title {
  margin-bottom: 20px;
  
  font-weight: bold;
  font-size: 42px;
  line-height: 1;
  text-align: center;
}


.start__titlePart {
  display: block;

}

.start__socialNetworksName {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;

  font-size: 83px;
  color: var(--color-dark);
}

.start__socialNetworksName:after {
  content: "Keep in touch";
  position: absolute;
  left: 0;
  width: 100%;

  font-size: 80px;
  font-weight: 400;
  color: var(--color-light);
}

.start__description {
  margin-bottom: 30px;
  width: 450px;

  text-align: center;
}

.start__choice,
.start__usersLoading {
  margin-bottom: 30px;

  font-size: 20px;
  color: var(--color-dark)
}

.start__usersLoading {
  margin-top: 100px;
}

.start__users {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  max-width: 450px;
}

.start__user {
  width: 120px;
  height: 120px;

  border: 5px solid var(--color-light);
  border-radius: 20px;

  transition: transform var(--transition-behavior);
  cursor: pointer;
}



.start__user:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .start {
    border-width: 15px;
  }

  .start__title {
    font-size: 32px;
  }

  .start__socialNetworksName {
    font-size: 50px;
  }
  
  .start__socialNetworksName:after {
    font-size: 48px;
  }

  .start__description {
    width: 320px;
  }

  .start__users {
    max-width: 370px;
    gap: 10px;
  }

  .start__user {
    width: 100px;
    height: 100px;
  }
}


@media (max-width: 575px) {

  .start {
    border-width: 5px;
  }

  .start__title {
    font-size: 32px;
  }

  .start__socialNetworksName {
    font-size: 44px;
  }
  
  .start__socialNetworksName:after {
    font-size: 42px;
  }

  .start__choice {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .start__description {
    margin-bottom: 15px;
    width: 300px;
  }

  .start__users {
    max-width: 300px;
  }

  .start__user {
    width: 80px;
    height: 80px;
  }
}
