.home {
  padding: 15px 15px 0;
  border-radius: 10px;
  background: var(--color-very-light);
}

.home__publications {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.home__publication {
  display: flex;

  margin-bottom: 15px;
  padding: 15px;
  max-width: 800px;
  width: 100%;

  background: var(--color-extra-light);
  border: 1px dashed var(--color-normal);
  border-radius: 10px;

  word-break: break-word;
}

.home__publicationAuthorAvatar {
  margin: 0 auto 10px;
  width: 60px;
  height: 60px;

  border: 3px solid var(--color-normal);
  border-radius: 50%;
}

.home__publicationAuthorAvatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.home__likeBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 4px 10px 4px 4px;
  width: 100%;

  background: var(--color-extra-normal);
  border: none;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}

.home__likeIcon {
  transition: transform var(--transition-behavior);
}

.home__likeBtn:hover .home__likeIcon {
  transform: scale(1.35);
}

.home__likesCounter {
  font-size: var(--font-size-mini);
}

.home__publicationText {
  margin-left: 15px;
}

.home__publicationAuthor {
  margin-bottom: 5px;
  font-size: var(--font-size-mini);
  text-decoration: underline;
  color: var(--color-dark)
}

@media (max-width: 767px) {
  .home {
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .home {
    margin-bottom: 10px;
  }
}
