.wrapper {
  display: flex;
  justify-content: center;
  
  padding: 15px;
  border-radius: var(--border-radius-block);
  background: var(--color-very-light);
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 15px;

  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}



@media (max-width: 1023px) {
  .wrapper {
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .wrapper {
    margin-bottom: 10px;
  }
}
