.wrapper {
  grid-area: header;
  background-color: var(--color-normal);
}

.inner {
  display: grid;
  grid-template-columns: auto 1fr 60px;
  align-items: center;
  padding: 5px 15px;
}

.title {
  width: 100%;

  font-size: 36px;
  letter-spacing: 1px;
  text-align: center;
  color: var(--color-secondary);
  text-shadow: var(--text-shadow);
}

@media (max-width: 575px) {
  .wrapper {
    background-color: var(--color-dark);
  }

  .inner {
    grid-template-columns: auto 1fr 45px;
    padding: 5px 10px;
  }

  .title {
    font-size: 26px;
  }
}
