.btn {
  padding: 8px 0;
  width: 100%;

  background: var(--color-normal);
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  cursor: pointer;

  transition: all var(--transition-behavior);
}

.btn:hover {
  background: var(--color-dark);
  color: var(--color-secondary)
}

.btn_unfollow {
  background: var(--color-extra-normal);
}

.btn_unfollow:hover {
  background: var(--color-extra-dark);
}
