.currentUserPublication__title {
  margin: 20px 0;
}

.currentUserPublication__textarea {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 50%;
  min-height: 80px;

  font-size: var(--font-size-pc);
  
  border-radius: 8px;
  resize: vertical;
}

.currentUserPublication__button {
  margin-bottom: 20px;
  padding: 15px 40px;

  font-size: 16px;
  font-weight: 600;

  background-color: var(--color-button);

  border: 1px solid var(--color-button-border);
  border-radius: 8px;

  transition: all var(--duration-element-animation) linear;
  cursor: pointer;
}

.currentUserPublication__button:hover {
  background-color: var(--color-button-behavior);
}

@media (max-width: 1023px) {
  .currentUserPublication {
    text-align: center;
  }

  .currentUserPublication__textarea {
    display: block;
    margin-bottom: 10px;
    margin: 0 auto 10px;
    padding: 10px;
    width: 75%;
  }
}

@media (max-width: 575px) {

  .currentUserPublication__textarea {
    width: 100%;
  }
}