.wrapper {
  margin: 0 -15px 0 15px;
  padding-right: 11px;
  overflow-y: scroll;
}

.hint {
  position: relative;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  text-align: center;
  color: var(--color-dark)
}

@media (max-width: 575px) {
  .wrapper {
    margin: 0 ;
    padding-right: 15px;
  }

  .hint {
    display: none;
  }
}
