.button {
  width: 40px;
  padding: 4px 0;

  font-size: var(--font-size-mini);

  background: var(--color-extra-normal);
  border: 1px solid transparent;
  border-radius: 8px;
  outline: none;
  cursor: pointer;

  transition: all var(--transition-behavior);
}

.button:focus {
  background: var(--color-normal);
  color: var(--color-secondary);
}

.button:hover,
.isActive {
  background: var(--color-dark);
  color: var(--color-secondary);
}
