.wrapper {
  grid-area: rightSidebar;
  margin-right: 15px;
  padding: 35px 0;

  text-align: center;

  background: var(--color-normal);
  border-radius: 10px;
}

@media (max-width: 1399px) {
  .wrapper {
    padding: 10px 15px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    display: none;
  }
}