.friends {
  margin-top: 50px;
}

.friends__title {
  margin: 0 0 10px;

  font-weight: 600;
  text-align: center;
}

.friends__list {
  display: flex;
  gap: 15px;

  margin: 0 auto;
  padding: 10px;
  width: max-content;

  border-radius: 10px;
}

.friends__item {
  padding: 0;

  border: 0;
  outline: 0;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;

  transition: transform var(--duration-element-animation) linear;
}

.friends__item:hover {
  transform: scale(1.1);
}

.friends__avatar {
  width: 50px;
  height: 50px;

  border-radius: 50%;
}

@media (max-width: 1023px) {

  .friends__list {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .friends {
    display: none;
  }
}
