.friends {
  margin-top: 60px;
}

.friends__title {
  margin: 0 0 10px;

  font-weight: 600;
  text-align: center;
  color: var(--color-blue-dark);
}

.friends__list {
  display: flex;
  gap: 15px;

  margin: 0 auto;
  padding: 10px;
  width: max-content;

  border-radius: 10px;
}

.friends__item {
  padding: 0;

  border: 0;
  outline: 0;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;

  transition: transform var(--transition-behavior);
}

.friends__item:hover {
  transform: scale(1.2);
}

.friends__avatar {
  width: 50px;
  height: 50px;

  border-radius: 50%;
}

@media (max-width: 1023px) {

  .friends__list {
    gap: 10px;
  }

  .friends__avatar {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 767px) {
  .friends {
    display: none;
  }
}
