.wrapper {
  margin-bottom: 40px;
}

.images {
  position: relative;

  margin-bottom: 60px;

  border-radius: 10px;
}

.logoutBtn {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;

  padding: 0 15px;
  height: 38px;

  font-size: var(--font-size-mini);
  letter-spacing: 0.5px;
  color: var(--color-main);

  background: var(--color-extra-normal);
  border-radius: 0 6px 0 10px;
  border: none;
  cursor: pointer;
}

.wallpaper {
  height: 350px;
  object-fit: cover;

  border-radius: 8px 8px 0 50px;
}

.avatarContainer {
  position: absolute;
  left: 0;
  bottom: -40px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 165px;
  height: 165px;

  background-color: var(--color-secondary);
  border: 4px double var(--color-dark);
  border-radius: 50%;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.info {
  padding-left: 15px;
}

.name {
  margin-bottom: 15px;
}

.infoItemTitle {
  font-style: italic;
  font-family: var(--font-family-text);
}

.status {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  line-height: 1;
}

.statusIndicator {
  margin-right: 5px;
  width: 16px;
  height: 16px;

  border: 2px solid var(--color-normal);
  border-radius: 50%;
}

.statusIndicator_offline {
  background: #ff1212;
}

.statusIndicator_online {
  background: #50ff50;
}

.city {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}

.about {
  width: 50%;
}

@media (max-width: 1023px) {

  .wallpaper {
    border-radius: 8px 8px 0 0;
    height: 250px;
  }

  .avatarContainer {
    left: 50%;
    transform: translateX(-50%);
  
    width: 160px;
    height: 160px;
  }

  .avatar {
    width: 140px;
    height: 140px;
  }

  .name {
    margin-bottom: 10px;
    padding-left: 0;
    text-align: center;
  }

  .status {
    justify-content: center;
  }

  .about {
    width: 100%;;
  }
}

@media (max-width: 575px) {

  .wallpaper {
    height: 160px;
  }

  .logoutBtn {
    padding: 0 10px;
    height: 35px;
  }

  .avatarContainer {
    width: 110px;
    height: 110px;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }
}
