.wrapper {
  margin-bottom: 40px;
  padding-bottom: 40px;

  border-bottom: 4px double var(--color-extra-normal);
}

.img {
  position: relative;

  margin-bottom: 45px;

  border-radius: 10px;
}

.wallpaper {
  height: 350px;
  object-fit: cover;

  border-radius: 8px 8px 0 0;
}

.avatarContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 165px;
  height: 165px;

  background-color: var(--color-secondary);
  border: 4px double var(--color-dark);
  border-radius: 50%;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  width: var(--width-profile-content-desctop);
  margin: 0 auto;
}

.name {
  font-size: 36px;
}

.infoItem {
  text-align: center;
  font-style: italic;
  font-family: var(--font-family-text);
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.statusIndicator {
  margin-right: 5px;
  width: 16px;
  height: 16px;

  border: 2px solid var(--color-normal);
  border-radius: 50%;
}

.statusIndicator_offline {
  background: #ff1212;
}

.statusIndicator_online {
  background: #50ff50;
}

.city {
  display: flex;
  gap: 8px;
}

.about {
  padding: 10px 15px 20px;

  background: var(--color-very-light);
  border-radius: var(--border-radius-block);
}

.about p {
  text-align: left;
}

@media (max-width: 1279px) {

  .info {
    width: var(--width-profile-content-laptop);
  }
}

@media (max-width: 1023px) {

  .wallpaper {
    height: 250px;
  }

  .avatarContainer {  
    width: 160px;
    height: 160px;
  }

  .avatar {
    width: 140px;
    height: 140px;
  }

  .name {
    padding-left: 0;
    text-align: center;
  }
}

@media (max-width: 767px) {

  .wrapper {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .name {
    font-size: 32px;
  }

  .info {
    width: var(--width-profile-content-tablet);
  }
}

@media (max-width: 575px) {

  .wallpaper {
    height: 160px;
  }

  .avatarContainer {
    width: 110px;
    height: 110px;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }

  .name {
    font-size: 28px;
  }

  .info {
    width: var(--width-profile-content-mobile);
  }
}
